

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Feladat </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="completed">
    <mat-header-cell *matHeaderCellDef> Kész </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.completed | igennem}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="operations">
    <mat-header-cell *matHeaderCellDef> Műveletek </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a [routerLink]="['/task/', element.id]" class="operations" matToolTip="Szerkesztés"><i class="material-icons">edit</i></a>
      <a (click)="onDelete(element.id)" class="operations" style="color:#0366d6; cursor:pointer;" matTooltip="Törlés"><i class="material-icons">delete</i></a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
